@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Quicksand:wght@300;400;500;600&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bolder;
}

/*
    -------------
    COLOR PALETTE
    -------------

dark blue: ----| #21263C
gray-blue: ----| #373E4D
pale violet: --| #DEBFD9
red: ----------| #E04644
yellow: -------| #FFD73C
white: --------| #FFFFFF
*/